* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #f2f2f2;
    font-size: 14px;
    color: #333333;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  $top: top;
  $bottom: bottom;
  $left: left;
  $right: right;
  $leftright: ($left, $right);
  %w100 {
    width: 100%;
  }
  %h100 {
    height: 100%;
  }
  %cursor {
    cursor: pointer;
  }
  html,
  body,
  #loyout,
  .el-container,
  #asideNav,
  ul.el-menu {
    @extend %h100;
  }
  @mixin set-value($side, $value) {
    @each $prop in $leftright {
      #{$side}-#{$prop}: $value;
    }
}